// .box{
//   color:var(--themeColor)
// }

.header{
  .logo{
    margin-left: 20rpx;
    height: 70rpx;
    .pic{
      height: 100%;
    }
  }
  height: 100rpx;
  // border: 1px solid var(--themeColor);
  padding: 30rpx;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .titles{
    height: 120rpx;
    width: 500rpx;
    justify-content: space-between;
    display: flex;
    align-items: center;
    .title{
      text-align: center;
      color: var(--themeColor);
      .image{
        height: 50rpx;
        .pic{
          height: 100%;
        }
      }
      .text{
        font-size: 20rpx;
        color: var(--themeColor);
      }
    }
  }
}

.content{
  .body{
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20rpx;
    .box{
      // border: 1px solid red;
      margin-bottom: 30rpx;
    }
  }
  .loadOut{
    text-align: center;
    padding: 30rpx 0;
    .noData{
      font-size: 30rpx;
      color: #888888;
    }
  }
}

page {
  background-color: var(--bgColor);
}