.box{
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 360rpx;
  width: 330rpx;
  margin: 10rpx;
  .top{
    // border: 1px solid red;
    height: 250rpx;
    display: inline-block;
    align-items: center;
    background-color: var(--whiteColor);
    padding: 15rpx 30rpx;
    // border-radius: 20px;
    border-top-left-radius: 20rpx;
    border-top-right-radius: 20rpx;
    
    .body{
      // border: 1px solid red;
      align-items: center;
      display: flex;
      margin-bottom: 5rpx;
      .text{
        // border: 1px solid red;
        color: var(--text_theme);
        font-size: 34rpx;
        // font-weight: 500;
        letter-spacing: 1rpx;
        margin-right: 20rpx;
      }
      .pic{
        // border: 1px solid red;
        height: 40rpx;
        width: 40rpx;
        margin-left: 8rpx;
        margin-right: 20rpx;
      }
    }
  }
  .bottom{
    // border: 1px solid black;
    height: 110rpx;
    display: flex;
    justify-content: space-between;
    background-color: var(--boxColor);
    // background-color: green;
    border-bottom-left-radius: 20rpx;
    border-bottom-right-radius: 20rpx;
    .user{
      // border: 1px dashed red;
      transform: translateY(-25rpx);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;;
      height: 130rpx;
      margin-left: 1rpx;
      .photo{
        // border: 1px solid red;
        height: 70rpx;
        width: 70rpx; 
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 8rpx;
      }
      .name{
        // border: 1px solid blue;
        height: 40rpx;
        width: 120rpx;
        font-size: 25rpx;
        // letter-spacing: 1rpx;
      }
    }
    .tags{
      // border: 1px dashed green;
      height: 100rpx;
      width: 230rpx;
      display: flex;
      flex-wrap: wrap;
      margin-top: 10rpx;
      // flex-wrap: wrap;
      .tag{
        // border: 1px dashed red;
        margin-left: 12rpx;
        margin-top: 2rpx;
        width: 80rpx;
        height: 36rpx;
        text-align: center;
        line-height: 36rpx; /* 设置文本垂直居中*/
        background: var(--girlTagColor);
        // padding: 5rpx;
        font-size: 20rpx;
        border-radius: 10rpx;
      }
    }
  }
}